.box {
    display: flex;
    justify-content: center;
}

.box-main {
    margin-top: 5%;
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.heading {
    text-align: center;
    color: white;
}

.input {
    height: 35px;
    width: 400px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-weight: 500;
    border-radius: 17px;
    outline: none;
    border: none;
}

.btn {
    background-color: white;
    color: rgb(84, 83, 83);
    outline: none;
    border: none;
    height: 35px;
    padding: 2px 20px;
    border-radius: 17px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.error{
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
